@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  background: #f9f9fa;
}

/* Common Styles */
a {
  color: black;
  text-decoration: none;
}

/* Category Card Style */
.category-card {
  background-color: #f3f4f7;
  border: 1px solid #eaecf0;
}

.category-card:hover {
  border: 1px solid #667085;
  background-color: #f9f9fa;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.category-icon-div {
  height: 36px;
  width: 36px;
  background: white;
  border-radius: 50%;
}

.category-icon-div img {
  width: 1.5rem;
}

.category-card-content {
  display: grid;
  align-items: center;
  justify-items: center;
}

.category-summary {
  font-size: 12px;
  color: #969dab;
  font-weight: 900;
  line-height: 16px;
}

.circle {
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background: #667085;
}

/* Benefits Card Style */
.benefits-card {
  background-color: white;
}

.benefits-card-title {
  font-size: 20px;
}

.benefits-icon-div img {
  width: 54px;
}

.benefits-border-bottom {
  border-bottom: 2px solid #f9f9fa;
}

.benefits-border-right {
  border-right: 2px solid #f9f9fa;
}

/* Skill Test Style */
.skill-test-heading {
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
}

.skill-test-button {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
}

.skill-test-image-div {
  border: 1px solid #eaecf0;
  border-radius: 0.25rem;
  position: relative;
  width: 100%;
  padding-top: 43.75%; /* 7 / 16 * 100% to maintain a 16:7 aspect ratio */
  overflow: hidden;
}

.skill-test-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Optional: Ensures the image covers the container */
}

/* Footer Style */
footer {
  background-color: #fffbee;
}

.footer-heading {
  font-size: 18px;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-link {
  border-bottom: 1px solid transparent;
}

.footer-link:hover {
  color: rgba(255, 140, 75, 1);
  border-bottom: 1px solid rgba(255, 140, 75, 1);
}

.app-store-card {
  width: 81px;
  height: 48px;
  background-color: #1d2939;
  border-radius: 0.5rem;
}

.app-store-card:hover {
  background-color: rgba(29, 41, 57, 0.96);
  cursor: pointer;
}

.social-media-card {
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid #eaecf0;
  border-radius: 0.25rem;
}

.social-media-card:hover {
  background-color: rgba(255, 246, 217, 1);
  border-color: rgba(255, 205, 51, 1);
  cursor: pointer;
}
