@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hind Siliguri", sans-serif;
  background: #f9f9fa;
}

/* Common Styles */
a {
  color: black;
  text-decoration: none;
}

.client {
  filter: grayscale(1);
}

.client:hover {
  filter: grayscale(0);
  transition: 0.3s;
}

/* Hero Image Style */
.card-style-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.card-style-inner {
  border-radius: 26px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-left,
.bottom-left,
.bottom-right,
.top-right {
  position: absolute;
  height: 30.77%;
  width: 17.91%;
  top: -9.63%;
  right: 89.76%;
  bottom: 78.85%;
  left: -7.66%;
  border-radius: 50%;
  background-color: #32d583;
  filter: blur(50.42px);
  opacity: 0.1;
}

.bottom-left,
.bottom-right,
.top-right {
  height: 38.15%;
  width: 17.87%;
  top: 86.67%;
  right: -5.8%;
  bottom: -24.82%;
  left: 87.94%;
  opacity: 0.15;
}

.bottom-left,
.top-right {
  height: 43%;
  width: 18.23%;
  top: 74.75%;
  right: 88.46%;
  bottom: -17.74%;
  left: -6.7%;
  background-color: #32d583;
}

.top-right {
  height: 32.42%;
  width: 20.27%;
  top: -16.88%;
  right: -14.6%;
  bottom: 84.46%;
  left: 94.34%;
  background-color: var(--blue-100, #4478ff);
  transform: rotate(33.43deg);
  transform-origin: 0 0;
}

.top-center,
.top-right-center,
.bottom-center {
  position: absolute;
  height: 22.83%;
  width: 18.93%;
  top: -11.72%;
  right: 37.68%;
  bottom: 88.89%;
  left: 43.39%;
  border-radius: 50%;
  background-color: #12b76a;
  filter: blur(50px);
  opacity: 0.2;
}

.top-right-center,
.bottom-center {
  height: 33.74%;
  width: 18.57%;
  top: 30.3%;
  right: 21.88%;
  bottom: 35.96%;
  left: 59.55%;
  background-color: #12b76a;
  filter: blur(119px);
  opacity: 0.35;
}

.bottom-center {
  height: 61.33%;
  width: 10.55%;
  top: 87.88%;
  right: 24.57%;
  bottom: -49.21%;
  left: 64.88%;
  background-color: #4478ff;
  filter: blur(50.42px);
  transform: rotate(90deg);
  transform-origin: 0 0;
  opacity: 0.15;
}

.upperbox-1 {
  display: grid;
  gap: 1.5rem;
}

.upperbox1-content-div {
  display: grid;
  gap: 8px;
}

.upperbox-1-content {
  display: flex;
  gap: 1rem;
}

.upperbox-1-title,
.upperbox-1-title-blink-text {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
  margin-bottom: 0;
}

.upperbox-1-title-blink-text {
  color: #f26359;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.blink-circle {
  width: 22px;
  display: flex;
  align-items: center;
}

.blink-circle > div {
  vertical-align: middle;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  position: absolute;
  border: 3px solid red;
  animation: blink-circle-animate 1.4s ease-in-out infinite;
  animation-fill-mode: both;
}
.blink-circle > div:first-child {
  background-color: hsla(0, 0%, 100%, 0.3);
  animation-delay: -0.1s;
}
.blink-circle > div:nth-child(2) {
  animation-delay: 0.16s;
}
.blink-circle > div:nth-child(3) {
  animation-delay: 0.42s;
  border: 3px solid hsla(0, 0%, 100%, 0.5);
}
.blink-circle > div:nth-child(4) {
  border: 3px solid #fff;
  animation-delay: -0.42s;
}
@keyframes blink-circle-animate {
  0%,
  80%,
  to {
    transform: scale(0.2);
    -webkit-transform: scale(0.2);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.upperbox-1-sub-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 0;
}

.upperbox-2 {
  display: grid;
  gap: 1rem;
}

.upperbox-2-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 0;
}

.upperbox-2 img {
  width: auto;
  height: 20px;
}

.hero-image {
  top: 0;
  left: 0;
  width: 100%;
  height: 301px;
  object-fit: cover;
  border-radius: 1rem;
}

/* Our Course Style */
.our-courses-div {
  display: grid;
  gap: 1rem;
}

.our-courses-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.our-courses-details {
  display: grid;
  gap: 1rem;
}

.course-summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(249, 249, 250, 1);
  border-bottom: 1px solid rgba(208, 213, 221, 1);
  padding: 0.5rem;
}

.batch-details,
.seat-details,
.batch-opening-details {
  display: flex;
  align-items: center;
  background-color: rgba(234, 236, 240, 1);
  padding: 4px 8px;
  border-radius: 0.25rem;
  font-size: 11px;
}

.seat-details,
.batch-opening-details {
  gap: 0.25rem;
}

.seat-details img,
.batch-opening-details img {
  width: 0.75rem;
}

.course-title-div {
  height: 68px;
}

.course-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.course-card-footer {
  width: 100%;
  padding: 0.75rem;
  background-color: rgba(249, 249, 250, 1);
  border: none;
}

.view-course-details-button,
.see-full-course-button {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem !important;
}

.view-course-details-button p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.course-card:hover {
  border: 1px solid #667085;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.full-course-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-course-list-div {
  width: 357px;
}

/* Category Card Style */
.category-card {
  background-color: #f3f4f7;
  border: 1px solid #eaecf0;
}

.category-card:hover {
  border: 1px solid #667085;
  background-color: #f9f9fa;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.category-icon-div {
  height: 36px;
  width: 36px;
  background: white;
  border-radius: 50%;
}

.category-icon-div img {
  width: 1.5rem;
}

.category-card-content {
  display: grid;
  align-items: center;
  justify-items: center;
}

.category-summary {
  font-size: 12px;
  color: #969dab;
  font-weight: 900;
  line-height: 16px;
}

.circle {
  height: 0.25rem;
  width: 0.25rem;
  border-radius: 50%;
  background: #667085;
}

/* Benefits Card Style */
.benefits-card {
  background-color: white;
}

.benefits-card-title {
  font-size: 20px;
}

.benefits-icon-div img {
  width: 54px;
}

.benefits-border-bottom {
  border-bottom: 3px solid #f9f9fa;
}

.benefits-border-right {
  border-right: 3px solid #f9f9fa;
}

/* Skill Test Style */
.skill-test-heading {
  font-size: 26px;
  line-height: 34px;
  font-weight: 700;
}

.skill-test-button {
  font-size: 12px;
  font-weight: 600;
  padding: 4px 12px;
}

.skill-test-image-div {
  border: 1px solid #eaecf0;
  border-radius: 0.25rem;
  position: relative;
  width: 100%;
  padding-top: 43.75%;
  overflow: hidden;
}

.skill-test-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Business Style */
.business-card {
  background-color: #f9f9fa;
}

.business-title {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
}

.business-title span::after {
  display: grid;
  width: 100%;
  height: 20px;
  background-image: url("../../images/misc/line.svg"); /* Replace with the actual path to your image */
  background-repeat: no-repeat;
  margin-left: 5px; /* Adjust the space between "Ostad" and the background image */
}

.business-sub-title {
  font-size: 16px;
  font-weight: 400;
}

.business-button {
  font-size: 14px;
  font-weight: 600;
}

.business-clients-heading {
  font-size: 26px;
  font-weight: 700;
}

.business-button-div {
  width: 262px;
}

.business-button {
  background-color: #ffcd33;
  padding: 12px 24px;
  width: 100%;
  font-size: 14px;
}

.business-button:hover {
  background-color: #ffc000;
  transition: 0.3s;
}

.business-client {
  width: auto;
  height: 2.5rem;
}

/* Student, Course Summary Style */
.summary-count {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.summary-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 0 !important;
}

.summary-card-1 {
  background-color: #d1fadf;
}

.summary-card-2 {
  background-color: #dae4ff;
}

.summary-card-3 {
  background-color: #ffe8db;
}

.summary-card-4 {
  background-color: #fff2cc;
}

/* Testimonial Style */
.p-75 {
  padding: 0.75rem;
}

.testimoniar-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
}

.testimoniar-img-div {
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.testimoniar-img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: #1d2939;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimoniar-img img {
  border-radius: 50%;
}

.testimonial-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: justify;
  color: #667085;
}

.testimonial-divider {
  width: 100% !important;
}

.testimoniar-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 0;
}

.testimoniar-batch {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-bottom: 0;
  color: rgb(29, 41, 57);
}

.quote-image {
  height: 32px;
  width: 32px;
}

/* Download App Style */
.download-app {
  background-image: url("../../images/misc/bg-app-min.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

.download-app-div {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: flex-start;
}

.download-app-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  margin-bottom: 0;
}

.download-app-sub-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}

.download-app-button,
.view-course-details-button,
.see-full-course-button {
  width: 212px;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 24px;
  background-color: #eaecf0;
  border-radius: 0.375rem;
  border: none;
}

.download-app-button:hover,
.view-course-details-button:hover,
.see-full-course-button:hover {
  background-color: #d0d5dd;
  transition: 0.3s;
}

.download-app-button img {
  width: 20px;
}

.download-app-button p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

/* Free Courses Style */
.free-courses-div {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title {
  font-size: 36px;
  line-height: 47px;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.section-title + img {
  height: 32px;
  width: 32px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 0;
  flex-grow: 1;
  width: 70%;
  border-top-width: 2px;
  border-top-color: rgb(233, 233, 233);
}

.free-course-button {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.free-course-card:hover {
  border: 1px solid #667085 !important;
  /* transition: 0.2s; */
}

.free-course-card-content {
  display: flex;
  flex-direction: column;
}

.free-course-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.free-course-summary {
  display: flex;
  gap: 0.5rem;
  background-color: rgb(249, 249, 250);
  color: rgb(16, 24, 40);
  padding: 3px 6px;
  border-radius: 4px;
  align-items: center;
}

.free-course-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.view-details {
  width: 100%;
  background-color: #f9f9fa;
}

.view-details-free-course {
  padding: 12px 24px;
  width: 100%;
  font-size: 14px;
  background-color: #eaecf0;
}

.view-details-free-course:hover {
  background-color: rgb(208, 213, 221);
}

/* Footer Style */
footer {
  background-color: #fffbee;
}

.footer-heading {
  font-size: 18px;
}

.footer-ul {
  list-style: none;
  padding-left: 0;
}

.footer-link {
  border-bottom: 1px solid transparent;
}

.footer-link:hover {
  color: rgba(255, 140, 75, 1);
  border-bottom: 1px solid rgba(255, 140, 75, 1);
}

.app-store-card {
  width: 81px;
  height: 48px;
  background-color: #1d2939;
  border-radius: 0.5rem;
}

.app-store-card:hover {
  background-color: rgba(29, 41, 57, 0.96);
  cursor: pointer;
}

.social-media-card {
  height: 40px;
  width: 40px;
  background: white;
  border: 1px solid #eaecf0;
  border-radius: 0.25rem;
}

.social-media-card:hover {
  background-color: rgba(255, 246, 217, 1);
  border-color: rgba(255, 205, 51, 1);
  cursor: pointer;
}
